* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

@font-face {
  font-family: 'Roboto', sans-serif;
  src: url(https://fonts.google.com/share?selection.family=Roboto:ital,wght@0,400;1,7004);
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

.container {
  display: flex;
  width: 100%;
  bottom: 0;
  position: relative;
}

.title {
  font-size: 18px;
  font-weight: 700;
}

.input {
  border: none;
  border-radius: 3px;
  background: #EDEDF1;
}

.btn {
  border-radius: 3px;
  height: 40px;
  padding: 8px 30px;
  text-align: center;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 26px 30px 23px 30px;
  border-bottom: 1px solid #CFCFCF;
  width: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  gap: 26px;
  align-items: center;
}

.products-counter {
  width: 13px;
  height: 13px;
  background-color: #3366FF;
  color: #FFF;
  border-radius: 50%;
  font-size: 10px;
  transform: translate(17px, -30px);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.burger-btn {
  display: none;
  border: none;
  background-color: transparent;
}

.billing {
  flex: 1;
}

.status {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-left: 63px;
  padding-right: 66px;
  padding-top: 60px;
}

.status-item {
  display: flex;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.circle--blue {
  background-color: #3366FF;
  color: #FFF;
}

.circle--white {
  background-color: #fff;
  border: 1px solid #3366FF;
  color: #000;
}

.circle--grey {
  background-color: #fff;
  border: 1px solid #D5D5D5;
  color: #D5D5D5;
}

.line--blue {
  display: inline-block;
  position: relative;
}

.line--blue::before {
  height: 1px;
  width: calc((47vw / 2) - 20px);
  content: "";
  background: #3366FF;
  transform: translate(31px, -48px);
  z-index: -1;
  position: absolute;
}

.line--grey {
  display: inline-block;
  position: relative;
}

.line--grey::before {
  height: 1px;
  width: calc((45vw/2) - 15px);
  content: "";
  background: #D5D5D5;
  z-index: -2;
  transform: translate(26px, -48px);
  position: absolute;
}

.status__text {
  margin-top: 9px;
}

.billing-info {
  margin-top: 60px;
  margin-left: 270px;
  margin-right: 100px;
  max-width: 660px;
  max-height: 590px;
}

.billing-info__title {
  margin-left: 30px;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 700;

}

.billing-info__payment {
  display: flex;
  align-items: center;
  gap: 82px;
  border: none;
  margin-left: 30px;
  margin-bottom: 40px;
}

.payment__item {
  display: flex;
  align-items: center;
  gap: 9px;
}

.default-radio {
  display: none;
}

.custom-radio {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #CFCFCF;
  border-radius: 50%;
  background: #FFF;
  vertical-align: middle;
  cursor: pointer;
  flex-shrink: 0;
}

.custom-radio::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #3366FF;
  position: absolute;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.default-radio:checked+.custom-radio::before {
  transform: scale(1);
}

.billing-info__card {
  margin-bottom: 40px;
  width: 550px;
  height: 298px;
  padding: 20px 30px 46px 30px;
  border-radius: 5px;
  border: 1px solid #CFCFCF;
  box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.19);
  color: #555770;
  font-size: 12px;
  margin-right: 110px;
}

.card-holder {
  margin-bottom: 20px;
}

.card-holder__input {
  height: 40px;
  width: 490px;
  align-items: center;
  font-size: 14px;
  padding: 8px 10px;
}

.card-num__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card__date-cvv {
  display: flex;
}

.card__date,
.card__cvv {
  display: flex;
  flex-flow: column;
  margin-right: 30px;
}

.card-num__input,
.card-date__input,
.card-cvv__input {
  width: 100px;
  height: 40px;
  text-align: center;
}

.cvv-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.cvv-info {
  display: block;
  width: 13px;
  height: 13px;
  border: none;
  border-radius: 50%;
  background: #DBDBDB;
  text-align: center;
  font-size: 10px;
  margin-bottom: 6px;
  text-align: center;
}

.input__title {
  display: flex;
  vertical-align: bottom;
  height: 24px;
}

.billing-info__accept {
  margin-left: 30px;
  margin-bottom: 40px;
  color: #8C8C8C;
}

.save-info__container {
  margin-bottom: 12px;
}

.save-info__container,
.terms__container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.default-checkbox {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.custom-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #CFCFCF;
  background: #FFF;
  vertical-align: middle;
  cursor: pointer;
  flex-shrink: 0;
}

.custom-checkbox::before {
  content: "";
  width: 8px;
  height: 8px;
  background-color: #3366FF;
  position: absolute;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.default-checkbox:checked+.custom-checkbox::before {
  transform: scale(1);
}


.billing-info__btn {
  margin-left: 30px;
  display: flex;
  /* justify-content: space-between; */
  gap: 414px;
}

.terms-link,
.privacy-link {
  color: #000;
}

.primary-btn {
  background-color: #3366FF;
  border: none;
  color: #FFF;
  flex-shrink: 0;
}

.check-out-btn {
  margin-right: 80px;
}

.secondary-btn {
  background-color: #FFF;
  border: 1px solid #CFCFCF;
  color: #000;
}

.cart {
  border-left: 1px solid #CFCFCF;
  width: 410px;
  height: 91vh;
  position: relative;
}

.cart__items {
  display: flex;
  flex-flow: column;
  justify-content: center;
  border-bottom: 1px solid #CFCFCF;
  padding: 40px 40px 40px 40px;
  row-gap: 40px;
}

.list-item__wrapper {
  width: 330px;
  height: 102px;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
}

.list-item__image {
  width: 99.909px;
  height: 100px;
}

.list-item__info {
  font-size: 14px;
  margin-bottom: 15px;
  width: 180px;
  height: 32px;
  top: 0;
}

.count__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  margin-right: 25px;
}

.list-item__count {
  display: flex;
  align-items: center;
}

.count-minus,
.count-plus {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-btn {
  transform: translate(174px, -66px);
  width: 19px;
  height: 19px;
  cursor: pointer;
}

.cart__promo-code {
  border-bottom: 1px solid #CFCFCF;
  padding: 40px 40px;
}

.promo-code__title {
  margin-bottom: 30px;
}

.promo-code__input {
  height: 40px;
  margin-right: 10px;
  border-radius: 3px;
  border: none;
  padding: 8px 110px 8px 10px;
  background: #EDEDF1;
  width: 225px;
}

.promo-code__apply-btn {
  background-color: #3366FF;
  color: #FFF;
  border-radius: 3px;
  height: 40px;
  width: 94px;
  padding: 8px 30px;
}

.cart__cost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
  padding-right: 55px;
  padding-left: 40px;
}

.cost-list__names li {
  margin-bottom: 6px;
  margin-top: 10px;
}

.cost-list__values li {
  margin-top: 6px;
  margin-bottom: 10px;
}

.cost-list__names {
  text-align: left;
}

.cost-list__values {
  text-align: right;
}

.total {
  font-weight: 700;
  font-size: 18px;
}

@media (max-width: 1750px) {
  .line--blue::before {
    width: calc((46vw / 2) - 25px);
  }

  .line--grey::before {
    width: calc((46vw / 2) - 30px);
  }
}

@media (max-width: 1620px) {
  .line--blue::before {
    width: calc((45vw / 2) - 35px);
  }

  .line--grey::before {
    width: calc((43vw / 2) - 30px);
  }
}

@media (max-width: 1370px) {
  .line--blue::before {
    width: calc((48vw / 2) - 40px);
  }

  .line--grey::before {
    width: calc((47vw / 2) - 15px);
  }
}

@media (max-width: 1300px) {
  .line--blue::before {
    width: calc((50vw / 2) - 35px);
  }

  .line--grey::before {
    width: calc((49vw / 2) - 25px);
  }
}

@media (max-width: 1200px) {
  
  .billing {
    max-width: 790px;
  }
  
  .billing-info {
    margin-left: 50px;
    margin-right: 0px;
  }

  .line--blue::before {
    width: calc((35vw / 2) - 15px);
  }

  .line--grey::before {
    width: calc((35vw / 2) - 20px);
  }

  .billing-info__btn {
    margin-right: 80px;
    gap: 414px;
  }
}

@media (max-width: 768px) {
  .menu-btn {
    display: block;
  }

  .cart {
    display: none;
  }

  .line--blue::before {
    width: calc((53vw / 2) - 15px);
  }

  .line--grey::before {
    width: calc((50vw / 2) - 15px);
  }

  .billing-info__btn {
    margin-right: 80px;
    gap: 392px;
  }
}

@media (max-width: 320px) {

  .header {
    padding-left: 10px;
    padding-right: 10px;
  }

  .billing {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 310px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .status {
    max-width: 310px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
  }

  .line--blue::before {
    width: calc((60vw / 2) - 18px);
  }

  .line--grey::before {
    width: calc((60vw / 2) - 18px);
  }

  .billing-info {
    margin-left: 0px;
    margin-right: 0px;
  }

  .billing-info__title {
    margin-bottom: 22px;
    margin-left: 0;
  }

  .billing-info__payment {
    gap: 22px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
  }

  .billing-info__card {
    width: 300px;
    height: 232px;
    border: none;
    box-shadow: none;
    padding: 0 0;
  }

  .billing-info__accept {
    margin-left: 0;
  }

  .billing-info__btn {
    gap: 84px;
    margin: 0 0;
  }

  .card-holder__input {
    width: 300px;
    height: 40px;
    padding: 8px 10px 8px 10px;
  }

  .card-num__input,
  .card-date__input,
  .card-cvv__input {
    width: 71px;
    height: 40px;
  }

  .card__date {
    margin-right: 5px;
  }

  .cvv-container {
    display: flex;
    font-size: 10px;
    align-items: center;
  }

  .input__title {
    display: flex;
    height: 24px;
    align-items: center;
  }

  .cvv-info {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
  }

  .terms__container {
    width: 250px;
  }
}